[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pyyaml = "*"
jsonpath-python = "*"
pytest = "*"
pexpect = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.quickman]
editable = true
path = "."
